@model _2_Employee_Crud_using_Database.Models.EmpModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.empId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
