@model IEnumerable<InvoiceProject_Using_PartialView.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateCustomer" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered text-center align-middle">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Customer Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CustomerName
                </td>
                <td>
                    @item.CustomerAddress
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.PurchaseDate.ToString("yyyy-MM-dd")): this will not work *@
                    @item.PurchaseDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Delete" class="btn btn-danger" onclick="return confirm('Are You sure to delete the Customer?')" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

</script>